:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}


* {
    box-sizing: inherit;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

html {
    /* Hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    display: block;
    padding: 0 16px;
    margin: 8px auto;
    border-radius: 10px;
    height: 44px;
    font-size: 1.6rem;
    border: none;
}

.btn:hover {
    background-color: #ff6347;
    cursor: pointer;
}

.line{
    position: relative;
}
.line::after {
    content: "";
    position:absolute;
    top: 28%;
    left:0;
    height: 18px;
    border-left: 2px solid #ccc;
    border-radius: 10px;
}